"acme-enter-email": "{{ certificates_letsencrypt_email }}"
"acme-agreement:{{ certificates_letsencrypt_agreement }}": true
"acmetool-quickstart-choose-server": "{{ certificates_letsencrypt_server }}"
"acmetool-quickstart-choose-method": "webroot"
"acmetool-quickstart-webroot-path": "/srv/www/.well-known/acme-challenge"
"acmetool-quickstart-complete": true
"acmetool-quickstart-install-cronjob": true
"acmetool-quickstart-install-haproxy-script": false
"acmetool-quickstart-install-redirector-systemd": false
"acmetool-quickstart-key-type": "rsa"
"acmetool-quickstart-rsa-key-size": 4096
"acmetool-quickstart-ecdsa-curve": "nistp256"
