satisfy:
  names:
    - {{ item.key }}.{{ user.key }}.{{ inventory_hostname }}
{% if item.value.domains is defined -%}
{% for domain in item.value.domains %}
    - {{ domain }}
{% endfor -%}
{% endif -%}
